.header {
  position: relative;
  @include flexbox;
  justify-content: space-between;
  width: 100%;
  background-color: $primary-color-dark;
  box-shadow: 0 0.5px 3px  #fff;
  .logo {
    @include flexbox;
    &__img {
      width: 80px;
      height: 80px;
      padding: 0;
      margin: 0;
      background-color: $primaryBg;
      border-radius: 50%;
      border: 1px solid $primaryBg;
      z-index: 2;
      overflow: hidden;
      margin: 10px;
      margin-right: 25px;
      img {
        background-position: 150px 0;
        background-repeat: no-repeat;
      }
    }
    .logo-text {
      @include flexbox;
      flex-direction: column;
      justify-content: center;
      &__name {
        font-size: 32px;
        color: $primary-color-text;
        font-weight: bold;
      }

      &__lastName {
        font-size: 32px;
        color: $primaryBg;
        margin: 0px 0px 0px 15px;
        font-weight: bold;
      }
    }
  }
  .contacts-header {
    &__list {
      @include flexbox;
      flex-wrap: wrap;
      height: 100%;
      justify-content: center;
      align-items: center;
      li {
        margin: 0px 15px 0px 0px;
        @include trans;
        &:last-child{
          margin: 0px 25px 0px 0px;
        }
        img {
          width: 32px;
          height: 32px;
          filter: grayscale(1);
          @include trans;
          &:hover{
            filter: grayscale(0);
          }
        }
      }
    }
  }
}
