@keyframes item-icon-after {
  0% {
    width: 64px;
    height: 64px;
    background: rgba($color: #fff, $alpha: 0);
  }
  50% {
    width: 512px;
    height: 512px;
    background: rgba($color: #fff, $alpha: 0.3);
  }
  100% {
    width: 64px;
    height: 64px;
    background: rgba($color: #fff, $alpha: 0);
  }
}
@keyframes item-icon-before {
  0% {
    width: 64px;
    height: 64px;
    background: rgba($color: #fff, $alpha: 0);
  }
  50% {
    width: 128px;
    height: 128px;
    background: rgba($color: #fff, $alpha: 0.3);
  }
  100% {
    width: 64px;
    height: 64px;
    background: rgba($color: #fff, $alpha: 0);
  }
}

@keyframes preloadTopLeftCube {
  0%,
  20% {
    top: 0px;
    left: 0;
    @include rotate(0);
  }
  55% {
    left: -25px;
    top: -25px;
  }
  100% {
    top: 0px;
    left: 0;
    @include rotate(-90);
  }
}
@keyframes preloadTopRightCube {
  0%,
  20% {
    top: 0px;
    left: 0;
    @include rotate(0);
  }
  55% {
    left: 25px;
    top: -25px;
  }
  100% {
    top: 0px;
    left: 0;
    @include rotate(90);
  }
}
@keyframes preloadBottomLeftCube {
  0%,
  20% {
    bottom: 0px;
    left: 0;
    @include rotate(0);
  }
  55% {
    left: -25px;
    bottom: -25px;
  }
  100% {
    bottom: 0px;
    left: 0;
    @include rotate(-90);
  }
}
@keyframes preloadBottomRightCube {
  0%,
  20% {
    bottom: 0px;
    left: 0;
    @include rotate(0);
  }
  55% {
    left: 25px;
    bottom: -25px;
  }
  100% {
    bottom: 0px;
    left: 0;
    @include rotate(90);
  }
}
@keyframes rotatePreloader {
  0%{
    @include rotate(0);
  }
  40%{
    @include rotate(360);
  }
  80%{
    @include rotate(-360);
  }
  100% {
    @include rotate(0);
  }
}
