.portfolio-content {
  &__body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 50px 25px 0 15px;
    width: 100%;
    background-color: #fff;
    @media (max-width: $md2) {
      padding: 25px 15px 0 15px;
    }
    @media (max-width: $md3) {
      padding: 50px 15px 0 15px;
    }
  }

  &__title {
    @include flexbox;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    margin: 0px 0px 35px 0px;
    &_b {
      color: $fontProtfolio;
    }
    @media (max-width: $md3) {
      margin: 0px 0px 25px 0px;
    }
  }
}
.portfolio-body {
  @include flexbox;
  flex-direction: column;
  height: 100%;
  &__menu {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 20px 0px;
  }
  &__main {
  }
  &__clear {
    flex: 1 1 auto;
  }
  &__item {
    flex: 0 0 (100% / 4);
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $fontProtfolio;
    color: $mainColor;
    padding: -5px;
    @include trans;
    li {
      @include trans;
      border: 1px solid $mainColor;
      border-radius: 5px;
      margin: 5px;
      padding: 5px 0;
      &:hover {
        background-color: $mainColor;
        color: #fff;
      }
    }
    @media (max-width: $md2) {
      flex: 1 0 (100% / 2);
    }
    @media (max-width: $md3) {
      flex: 1 0 (100% / 3);
    }
    @media (max-width: $md4) {
      // max-width: 200px;
      flex: 1 1 (100% / 2);
    }
    &.active {
      li {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
}

.portfolio-main {
  @include flexbox;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s linear;
  margin: -10px;
  &__column {
    flex: 0 1 (100% / 3);
    @media (max-width: $md2) {
      flex: 0 1 (100% / 2);
    }
    @media (max-width: $md3) {
      flex: 0 1 (100% / 2);
    }
    @media (max-width: $md4) {
      flex: 0 1 (100%/2);
    }
    @media (max-width: 479.98px) {
      flex: 0 1 100%;
    }
  }

  &__tab {
    position: relative;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0);
    z-index: 1;
    padding: 5px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      @include trans;
    }
    &:hover {
      cursor: pointer;
      &::before {
        background-color: rgba($color: #000000, $alpha: 0.3);
        @include trans;
      }
      span {
        opacity: 1;
        transform: scale(1);
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      opacity: 0;
      @include trans;
      transform: scale(4);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 2;
      background: #fff;
      i {
        font-size: 16px;
        line-height: 40px;
        color: #5c5c5c;
      }
    }
    &.active {
      opacity: 1;
      transition: all 0.5s ease;
      transform: scale(1) rotate(0);
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 130px;
  }
}
