.profile-content {
  height: 100%;
  overflow: hidden;
  color: #212121;
  @include unselectable;
  &__body {
    @include flexbox;
    flex-direction: column;
    z-index: 1;
    overflow-y: scroll;
    @media (max-width: $md3) {
      overflow: hidden;
    }
  }
  &__info {
    padding: 50px 35px 50px 35px;
    @media (max-width: $md3) {
      padding: 25px 15px 25px 15px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 500;
    color: #666464;
    font-size: $h2Size;
    margin: 0px 0px 25px 0px;
    @media (max-width: $md2) {
      font-size: 28px;
    }
    @media (max-width: $md3) {
      font-size: 26px;
      margin: 0px 0px 25px 0px;
    }
  }

  &__text {
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    color: #271a1c;
    letter-spacing: 0.1px;
    text-indent: 25px;
    line-height: 1.5;
    margin: 0px 0px 25px 0px;
    @media (max-width: $md3) {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
    }
    p {
      margin-bottom: 15px;
      @media (max-width: $md3) {
        font-size: 14px;
      }
    }
  }

  &__buttons {
    width: 100%;
    text-align: left;
    a {
      display: inline-block;
      padding: 10px 35px;
      font-size: 16px;
      color: #0080ff;
      border: 1px solid #0080ff;
      line-height: 24px;
      @include trans;
      border-radius: 5px;
      &:hover {
        background: #0080ff;
        color: #fff;
      }
    }
    @media (max-width: $md2) {
      text-align: center;
    }
  }
}

.profile-skils {
  background-color: #0080ff;
  padding: 50px 0px 35px 0px;
  &__title {
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: $h2Size;
    margin: 0px 0px 25px 0px;
    @media (max-width: $md3) {
      margin: 0px 0px 15px 0px;
    }
  }

  &__row {
    @include flexbox;
    flex-wrap: wrap;
  }

  &__column {
    height: 100%;
    flex: 1 1 (100%/2);
    @media (max-width: $md2) {
      flex: 1 1 100%;
    }
  }
}
.profile-card {
  @include flexbox;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #fff;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.8s linear;
  }
  &:hover::before {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  &__icon {
    position: relative;
    background: #fff;
    width: 64px;
    height: 64px;
    font-size: 32px;
    border-radius: 50%;
    margin: 25px 0px 25px 0px;
    cursor: pointer;
    i {
      color: #0080ff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: "";
      position: absolute;
      width: 82px;
      height: 82px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
    &::after {
      content: "";
      position: absolute;
      width: 82px;
      height: 82px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0);
      transition: all 0.16s linear;
    }
    &:hover {
      &::after {
        background-color: rgba($color: #fff, $alpha: 0.5);
        opacity: 0;
        width: 146px;
        height: 146px;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
  }

  &__text {
    max-width: 300px;
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 1.5;
    @media (max-width: $md3) {
      max-width: 400px;
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #0080ff;
  &__column {
    flex: 1 1 50%;
    font-weight: bold;
    @media (max-width: $md3) {
      flex: 0 1 100%;
    }
  }

  &_name {
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 20px;
    text-transform: uppercase;
    @media (max-width: $md3) {
      margin: 10px 0px 15px 0px;
    }
  }

  &_company {
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 18px;

    @media (max-width: $md3) {
      margin: 0px 0px 10px 0px;
    }
  }
  @media (max-width: $md3) {
    flex-direction: column;
    justify-content: center;
  }
}
