.right-block {
  height: 100%;
  width: 100%;
  @include flexbox;
  flex-direction: column;
  &__column {
    @include flexbox;
    position: relative;
    align-items: center;
    flex: 1 1 25%;
    border-bottom: 15px solid #47474f;
    cursor: pointer;
    @include trans;
    overflow: hidden;
    @media (max-width: $md3) {
      flex: 0 0 50%;
    }
    &:hover {
      .right-block__icon::after {
        animation: item-icon-after 0.5s linear;
      }
      .right-block__icon::before {
        animation: item-icon-before 0.5s linear;
      }
      .right-block__title {
        span {
          @include rotate(360);
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #1a1b23, $alpha: 0.85);
    }
  }

  &__profile,
  &__resume,
  &__portfolio,
  &__contacts {
    position: relative;
    @include flexbox;
    flex-direction: row;
    align-items: center;
    color: $mainFontColor;
    padding: 0px 0px 0px 100px;
    @include trans;
    @media (max-width: $md2) {
      padding: 0px 0px 0px 50px;
    }
    @media (max-width: $md4) {
      padding: 5px;
    }
  }

  &__icon {
    position: relative;
    @include flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba($color: #6b6b76, $alpha: 0.5);
    width: 64px;
    height: 64px;
    z-index: 1;
    @include trans;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
    i {
      position: absolute;
      font-size: 32px;
      color: #fff;
      @media (max-width: $md4){
        font-size: 24px;
      }
    }
  }

  &__text {
    font-size: 32px;
    padding: 0px 0px 0px 25px;
    z-index: 1;
    @media (max-width: $md4){
      padding: 15px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    @include trans;
    @media (max-width: $md3){
      font-size: 24px;
    }
    span {
      @include trans;
      display: inline-block;
      color: #536e79;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    @media (max-width: $md3){
      font-size: 18px;
    }
  }
}
