// ? <font>
$fondDefault: 'Montserrat';
$secondFont: 'PT Serif';
// ? </font>

// ? <COLORS>
$mainFontColor: #dcdcdc;
$spanFontColor: #536E79;
$mainColor: #0080ff;
$fontProtfolio: #3a3a3a;
$h2Size: 32px;
// ? <?COLORS>


// ? <Width>
$minW: 320px;
$mw: 1200px;
$md1: $mw + 12;
$md2: 992.98px;
$md3: 767.98px;
$md4: 567.98px;

// ? </Width>
