// ? <FONTS>
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap");
// ? </FONTS>
@import "./_zeroing";
@import "./_mixins";
@import "./_var";
@import "./_palette";

::-webkit-scrollbar{
  z-index: 2;
  width: 8px;
  background: #212121;
}
::-webkit-scrollbar-thumb{
  background-color: #0080ff;
  border: 2px solid #212121;
}

body {
  height: 100%;
  background-color: $primaryBg;
  font-family: "Fira Sans";
  color: $mainFontColor;
  font-weight: 400;
  font-style: normal;
  @include trans;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.container {
  max-width: $mw;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}
.ibg {
  width: 100%;
  height: 100px;
  @include imgSet;
  img {
    display: none;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  &__row {
    position: relative;
    height: 100%;
    @include flexbox;
    z-index: 10;
    @media (max-width: $md4) {
      flex-direction: column;
    }
    &.active{
      visibility: hidden;
    }
  }

  &__column {
    position: inherit;
    height: 100%;
    flex: 1 1 50%;
    transition: all 0.5s linear;
    &.left-column {
      left: 0;
      &.active {
        left: -100%;
        visibility: hidden;
      }
    }
    &.right-column {
      right: 0;
      &.active {
        right: -100%;
        opacity: 0;
        z-index: 0;
      }
    }
    @media (max-width: $md4) {
      height: 50%;
      flex: 0 0 (100%/2);
    }
  }

  .close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    top: 15px;
    right: 15px;
    visibility: hidden;
    z-index: 2;
    &.active{
      visibility: visible;
    }
    cursor: pointer;
    span{
      position: absolute;
      display: block;
      height: 3px;
      width: 32px;
      background-color: #000;
      &:first-child{
        @include rotate(-45);
      }
      &:last-child{
        @include rotate(45);
      }
      @media (max-width: $md3) {
        background-color: #fff;
      }
      @media (max-width: $md3) {
        width: 26px;
      }
    }
    @media (max-width: $md3) {
      background-color: rgba($color: #212121, $alpha: .5);
      border-radius: 50%;
    }
  }

  .content{
    &__row{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// ? <MAIN>
@import "./_leftBlock";
@import "./_rightBlock";
// ? </MAIN>

// ? <CONTENT>
@import "./_content";
@import "./_profile-content";
@import "./_resume-content";
@import "./_portfolio-content";
// ? </CONTENT>

// ? <KEYFRAMES>
@import "./_keyframes";
// ? </KEYFRAMES>
