footer {
  background-color: #3c3c3c;
}

.footer {
  &__body {
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
  }
  &__logo {
    margin: 0px 0px 40px 0px;
  }

  &__list {
    @include flexbox;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  &__link {
    margin: 0 15px;
    color: #a4a4a4;
    font-size: 14px;
    @include trans;
    &:hover {
      text-decoration: underline;
      color: #ffffff;
    }
    @media (max-width: $md4){
      margin: 0 10px;
    }
  }

  &__copy {
    color: #6c6c6c;
    font-size: 14px;
  }
}
