.menu {
  padding: 22px 0;
  margin: 0px 0px 120px 0px;
  border-bottom: 2px solid #f2f2f2;
  @media (max-width: $md2) {
    margin: 0px 0px 50px 0px;
  }
  @media (max-width: $md4) {
    padding: 15px 0 0px 0;
    margin: 0px 0px 25px 0px;
  }
  &__items {
  }

  &__list {
    @include flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    li {
      margin: 0 25px;
      @media (max-width: $md3) {
        flex: 0 1 (100%/4);
        margin: 0px 15px 15px 15px;
      }
    }

    @media (max-width: $md4) {
      flex-wrap: wrap;
    }
  }

  &__link {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    @include trans;
    &:hover {
      color: #ada074;
    }
    &_act {
      color: #ada074;
    }
  }
}
